.card {
  border: 2px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 5px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  box-sizing: border-box;
}

.circularButton {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.2s;
}

.circularButton:hover {
  background: #ddd;
}